.Home{
    height: 200vh;
    background-color:rgba(236, 23, 23, 0.57);
    display: flex;
    align-items: center;
    justify-content:center;
   // overflow: scroll;

   
    .searchTab{
        background-color: azure;
   
        

    }
    .Middle{

    }

}